@import "../../scss/utils";

.landing-container {
  min-height: calc(100vh - 124px);
  background-color: #f8f9fa57;
  .hero-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    .hero-text {
      background-color: #f8f9fa9c;
    }
    .custom-btn {
      font-size: 20px;
    }
  }
}
@include media-breakpoint-up(md) {
  .landing-container {
    .hero-text-container {
      width: auto;
    }
  }
}

